.App {
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 20vh;
    background: rgb(73, 79, 82);
    color: white;

    .logo img {
    width: 15vw;
    height: 20vh;
    filter: brightness(75%);
    background-color: rgb(73, 79, 82);
    }
}
.nav-links {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

